<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sales_agent_product_listing_data_source" xsi:type="string">AHT\SA\Ui\Grid\Sale</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
        <arguments>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="fulltext" xsi:type="object">Magento\CatalogSearch\Ui\DataProvider\Product\AddFulltextFilterToCollection</item>
            </argument>
        </arguments>
    </type>
    <!-- <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sales_agent_product_listing_data_source" xsi:type="string">AHT\SA\Model\ResourceModel\SaleAgentId\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="AHT\SA\Model\ResourceModel\SaleAgentId\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">SA</argument>
            <argument name="resourceModel" xsi:type="string">AHT\SA\Model\ResourceModel\SaleAgentId</argument>
        </arguments>
    </virtualType> -->
</config>